:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --black: rgba(44, 45, 53, 1);
  --ligth-green: rgba(225, 237, 230, 1);
  --green: #598d66;
  --white: #ffff;
  --gray-green: rgba(134, 146, 139, 1);
  --body-backColor: rgba(244, 246, 245, 1);
  --yellow: #eedb6d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

body {
  background-color: var(--body-backColor);
  min-width: 320px;
  height: 100%;
  font-size: 20px;
  font-family: Raleway;
  box-sizing: border-box;
}
[class*="container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;

  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
.btn--outline {
  box-shadow: 0 0 0 1.5px var(--green);
  padding: 20px 60px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--green);
  transition: all 0.1s ease-in-out;
}
.btn--outline:active {
  transform: scale(0.98);
}

.btn--outline--yellow {
  transition: all 0.1s ease-in-out;
  padding: 20px 60px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--black);
  background-color: var(--yellow) !important;
}
.btn--outline--yellow:active {
  transform: scale(0.98);
}

.fill-green {
  color: var(--green);
}
